# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

#rn bundle
jsbundles
bundle

# Android/IJ
#
*.iml
.idea
.gradle
local.properties

# node.js
node_modules
dist
reports
reporters
npm-debug.log
reporters
.vscode
node_modules
builder

# BUCK
buck-out/
\.buckd/
android/app/libs
android/keystores/debug.keystore
/.svn
